body {
    border: solid 15px black;
}

center {
    opacity: 0.5;
    box-shadow: 2px 2px 15px white;
    background-image: url(background.jpg);
    height: 100%;
}

button {
    font-family: 'Nunito', sans-serif;
    font-size: 18px !important;
}

center:hover {
    opacity: 1.0;
}

h3 {
    font-size: 50px !important;
    font-family: 'Indie Flower', cursive;
}

canvas {
    border: solid 2px black;
    box-shadow: 5px 5px 30px white;
    background-color: rgba(0, 0, 0, 0.555);
}